@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font: 14px "Open Sans", sans-serif;
	Color: #414c46;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
   overflow-x: hidden;
  background: #eaf1f9;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 20px 20px;
	background-color: #163a5a;
	color: white;
}

/*Logo do Sigiss*/
.logo {
	display: flex;
	align-items: center;
	gap: 8px;
}

.logo span {
	font-size: 26px;
	font-weight: bolder;
	line-height: 1;
	color: white;
}

.bars {
	display: flex;
	gap: 4px;
	align-items: flex-end;
	height: 32px;
}

.bar {
	width: 8px;
	background-color: white;
	border-radius: 4px;
}

.bar1 {
	height: 12px;
}

.bar2 {
	height: 22px;
}

.bar3 {
	height: 32px;
}

/*Header*/
header h1 {
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	color: white;
	text-align: center;
}

header #telCabecalho {
	text-align: center;
	color: white;
	margin-top: 5px;
	font-size: 15px;
	font-weight: 900;
	letter-spacing: 1px;
}

nav {
	display: flex;
	gap: 15px;
}

nav a {
	color: white;
	text-decoration: none;
	font-weight: bold;
}


#burguer {
  font-size: 32px;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;                 
  min-width: 48px;               
  min-height: 48px;     
  margin:auto;         
  border-radius: 8px;           
  background-color: transparent; 
}

#burguer:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
menu {
	display: none;
}

menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

menu ul li {
	padding: 10px;
}

menu ul li a {
	text-decoration: none;
	color: white;
	font-weight: 500;
}

menu ul li a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

menu ul li a:hover {
    font-weight: bold;
    color: #ffd700;
    text-decoration: none;
    background-color: rgba(255, 215, 0, 0.1);
    transform: scale(1.05);
}

/*Seções*/
section {
	min-height: 70vh;
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	position: relative;
	text-align: center;
}

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

section>* {
	position: relative;
	z-index: 1;
}

h2 {
	font-size: 32px;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	max-width: 700px;
}
/*seção login*/
.login-box {
	background: rgba(255, 255, 255, 0.08);
	backdrop-filter: blur(10px);
	padding: 20px;
	border-radius: 8px;
	max-width: 300px;
	width: 100%;
	margin: 20px auto;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.login-box label {
	display: block;
	margin-top: 10px;
	font-size: 14px;
	text-align: left;
	color: #fff;
}

.login-box input {
	padding: 9px;
	margin-top: 5px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	outline: none;
	font-size: 14px;
}

.login-box input::placeholder {
	color: rgba(255, 255, 255, 0.7);
}

.login-box button {
	width: 100%;
	padding: 10px;
	background: #f1c40f;
	color: #222;
	border: none;
	border-radius: 4px;
	margin-top: 15px;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s ease;
}

.login-box button:hover {
	background: #d4ac0d;
}

.login-box .link-esqueci {
	display: block;
	margin-top: 10px;
	text-align: center;
	color: #f1c40f;
	font-weight: bold;
	text-decoration: none;
}

.login-box .link-esqueci:hover {
	font-weight: bold;
    color: #ffd700;
    text-decoration: none;
    background-color: rgba(255, 215, 0, 0.1);
    transform: scale(1.05);
}

.login-box form {
	display: flex;
	flex-direction: column;
}

a {
	color: #ffd700;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#acesso {
	background: #1f4e79;
	height: 79vh;
	position: relative;
}

#acesso::before {
	background: none;
}

#acesso::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 800px;
	height: 530px;
	background:
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="800" height="600"><rect x="0" y="400" width="160" height="200" rx="70" ry="70" fill="white" fill-opacity="0.05"/><rect x="200" y="200" width="160" height="400" rx="70" ry="70" fill="white" fill-opacity="0.05"/><rect x="400" y="0" width="160" height="600" rx="70" ry="70" fill="white" fill-opacity="0.05"/></svg>')
		no-repeat right bottom;
	background-size: contain;
	opacity: 1;
	z-index: 0;
}

#acesso .acesso-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
	padding: 40px;
}

#acesso .acesso-texto {
	width: 300px;
}

#acesso .acesso-texto h2 {
	font-size: 25px;
	color: white;
	font-weight: 700;
	text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
	letter-spacing: -1px;
	line-height: 1.3;
	text-align: left;
}

#acesso .acesso-texto h2 .destaque {
	font-weight: 900;
	font-size: 25px;
	color: #ffd700;
}

#acesso .login-box {
	width: 275px;
	height: 250px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: white;
}

#acesso .login-box p {
	margin-top: 16px;
	text-align: center;
	font-size: 14px;
}
/*seção cadastro*/
#cadastro {
	background-color: #eaf1f9;
	padding: 80px 20px;
	margin-bottom: -2px;
}

.cadastro-container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	gap: 40px;
	flex-wrap: wrap;
	max-width: 1100px;
	margin: auto;
}

.cadastro-card {
	flex: 1 1 400px;
	background: white;
	padding: 30px 20px;
	border-radius: 12px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.cadastro-card h2, .cadastro-card h3 {
	color: #1f4e79;
	font-size: 25px;
	font-weight: 900;
	margin-bottom: 15px;
}

.cadastro-card p {
	color: #555;
	font-size: 18px;
	line-height: 1.6;
}

.cad-card {
	display: inline-block;
	background: #1f4e79;
	color: white;
	padding: 14px 30px;
	border-radius: 8px;
	font-size: 18px;
	font-weight: 600;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	transition: all 0.3s ease;
	text-decoration: none;
	margin-top: 20px;
}

.cad-card:hover {
	background: #163a5a;
	transform: translateY(-3px);
	text-decoration: none;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/*seção documentos*/
#documentos {
	background: #eaf1f9;
	color: #1f4e79;
	padding: 80px 20px;
	text-align: center;
}

#documentos h2 {
	font-size: 28px;
	margin-bottom: 30px;
	font-weight: 600;
}

.documentos-links {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}

.doc-card {
	background: white;
	color: #1f4e79;
	padding: 20px 30px;
	border-radius: 8px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	font-weight: 500;
	min-width: 250px;
	transition: all 0.3s ease;
	cursor: pointer;
	text-align: center;
}

.doc-card:hover {
	background: #1f4e79;
	text-decoration: none;
	color: white;
	transform: translateY(-5px);
}

/*seção downloads*/
#downloads {
	background-color: #1f4e79;
	background-image:
		url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="500" height="100" viewBox="0 0 24 24" fill="none" opacity="0.05"><path d="M5 4C5 2.89543 5.89543 2 7 2H13.4142C13.7893 2 14.1482 2.15804 14.4142 2.43934L17.5607 5.58579C17.842 5.85177 18 6.21071 18 6.58579V20C18 21.1046 17.1046 22 16 22H7C5.89543 22 5 21.1046 5 20V4Z" stroke="black" stroke-width="1.5"/><path d="M14 2V6C14 6.55228 14.4477 7 15 7H18" stroke="black" stroke-width="1.5"/></svg>');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 20px;
	text-align: center;
}

#downloads h2 {
	font-size: 30px;
	margin-bottom: 10px;
	font-weight: bolder;
	color: white;
}

#downloads .subtitulo {
	font-size: 18px;
	color: white;
	max-width: 700px;
	margin: 0 auto 40px;
}

.downloads-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	justify-content: center;
}

.download-card {
	background: #f4f7fb;
	border: 1px solid #dbe3ec;
	border-radius: 10px;
	padding: 24px;
	width: 300px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
	text-align: left;
	transition: all 0.3s ease;
	cursor: pointer;
}

.download-card h3 {
	font-size: 18px;
	margin-bottom: 8px;
	color: #1f4e79;
}

.download-card p {
	font-size: 14px;
	color: #444;
}

.download-card:hover {
	background: #1f4e79;
	text-decoration: none;
	color: white;
	transform: translateY(-4px);
}

.download-card:hover h3, .download-card:hover p {
	color: white;
}

/*Para Mei*/
#mei {
	background: #eaf1f9;
	color: #1f3b57;
	padding: 60px 20px;
	text-align: center;
	margin-bottom: -2px;
}

#mei h2 {
	font-size: 28px;
	margin-bottom: 20px;
	font-weight: 900;
	text-transform: capitalize;
}

#mei .comunicado {
	font-size: 18px;
	max-width: 700px;
	margin: 0 auto 30px auto;
	line-height: 1.6;
	background-color: rgba(0, 0, 0, 0.7);
	color: #fff;
	padding: 16px 24px;
	border-radius: 10px;
	animation: pulsar 2s infinite ease-in-out;
}

@keyframes pulsar { 
	0%{
	   transform: scale(1);
    }

    50%{
        transform: scale(1.05);

    }
    100%{
        transform:scale(1);    
    }
}
#mei .comunicado-box {
	background: #ffffff;
	color: #333;
	max-width: 800px;
	margin: 0 auto;
	padding: 24px;
	text-align: left;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#mei .comunicado-box p {
	margin: 1em 0;
	font-size: 16px;
	line-height: 1.5;
}

#mei .comunicado-link {
	display: inline-block;
	background: #1f4e79;
	color: #fff;
	padding: 10px 16px;
	border-radius: 4px;
	text-decoration: none;
	font-weight: bold;
	transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s
		ease;
}

#mei .comunicado-link:hover {
	background: #163a59;
	transform: scale(1.1);
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

#mei p strong {
	font-weight: bold;
	font-size: 15px;
}

/*seção suporte*/
#suporte {
	background: #eaf1f9;
	color: #1f4e79;
	padding: 60px 20px;
	text-align: center;
}

#suporte h2 {
	font-size: 26px;
	font-weight: 700;
	text-transform: capitalize;
}

#suporte-p {
	font-size: 18px;
	margin-bottom: 40px;
	font-weight: 700;
}

#email-card h3 {
	font-weight: 900;
}

#email-card:hover {
	background: #1f4e79;
	text-decoration: none;
	color: white;
	transform: translateY(-4px);
}

.contato-blocos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.contato-item {
	background: white;
	padding: 20px 25px;
	border-radius: 8px;
	min-width: 220px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
	transition: transform 0.2s ease;
}

.contato-item:hover {
	transform: translateY(-5px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contato-item h3 {
	margin-bottom: 15px;
	font-size: 18px;
	color: #1f4e79;
	font-weight: 600;
}

.contato-item p {
	margin: 4px 0;
	font-size: 16px;
	color: #333;
}

.fade-init {
	opacity: 0;
	transition: opacity 1.1s cubic-bezier(0.25, 0.1, 0.25, 1), transform
		1.1s cubic-bezier(0.25, 0.1, 0.25, 1);
	will-change: opacity, transform;
}

.fade-up {
	transform: translateY(40px);
}

.fade-up.show {
	opacity: 1;
	transform: translateY(0);
}

.fade-left {
	transform: translateX(-40px);
}

.fade-left.show {
	opacity: 1;
	transform: translateX(0);
}

.fade-right {
	transform: translateX(40px);
}

.fade-right.show {
	opacity: 1;
	transform: translateX(0);
}

.fade-zoom {
	transform: scale(0.95);
}

.fade-zoom.show {
	opacity: 1;
	transform: scale(1);
}

.fade-scale-up {
	transform: scale(0.85);
}

.fade-scale-up.show {
	opacity: 1;
	transform: scale(1);
}

@keyframes pulse { 
	0%, 100% {
	box-shadow: 0 4px 15px rgba(0, 89, 179, 0.6);
	transform: scale(1);
    }

    50%{
    box-shadow:0 8px 25px  rgba(0,89,179,0.9);    
    transform: scale(1.05);
    }
}
 /*pop-up valinhos*/
.mini-popup {
	position: fixed;
	top: 70px;
	right: 20px;
	background: #0059b3;
	color: #e6f0ff;
	padding: 15px 20px;
	border-radius: 10px;
	box-shadow: 0 4px 15px rgba(0, 89, 179, 0.6);
	z-index: 10000;
	max-width: 320px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 15px;
	font-weight: 600;
	border: 2px solid #003d80;
	user-select: none;
	animation: pulse 2.5s ease-in-out infinite;
}

.mini-popup h3 {
	margin: 0 0 12px 0;
	font-size: 18px;
	font-weight: 900;
	color: white;
	text-align: center;
}

.mini-popup p {
	margin: 0 0 12px 0;
	color: white;
	font-size: 17px;
	font-weight: 600;
	text-align: center;
}

.popup-buttons {
	display: flex;
	justify-content: center;
	gap: 12px;
}

.popup-buttons button {
	background-color: #f1c40f;
	border: none;
	color: #222;
	padding: 7px 22px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: 700;
	font-size: 14px;
	box-shadow: 0 3px 8px rgba(0, 123, 255, 0.5);
	transition: background-color 0.25s ease, box-shadow 0.25s ease;
}

.popup-buttons button#btnNao {
	background-color: #f1c40f;
	box-shadow: 0 3px 8px rgba(0, 64, 128, 0.6);
}

.popup-buttons button:hover {
	filter: brightness(1.15);
	box-shadow: 0 5px 12px rgba(0, 123, 255, 0.8);
}

.popup-buttons button#btnNao:hover {
	filter: brightness(1.2);
	box-shadow: 0 5px 12px rgba(0, 64, 128, 0.9);
}
/*Mensagem Valinhos*/
.popup-esquerda {
  position: fixed;
  top: 70px;
  left: 0;
  width: 320px;
  background: #fff;
  border: 2px solid #375D89;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  padding: 15px 20px 20px 20px;
  z-index: 1000;
  border-radius: 0 10px 10px 0;
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.4;

  opacity: 1;
  transition: opacity 0.5s ease;
  pointer-events: auto;
}

.popup-esquerda.fechar {
  opacity: 0;
  pointer-events: none;
}

.popup-esquerda .btn-fechar {
  position: absolute;
  top: 5px;
  right: 8px;
  background: transparent;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #375D89;
  z-index: 1100;
}

.popup-esquerda .btn-fechar:hover {
  color: #d05311;
}
.popup-texto strong {
  font-size: 21px;
  font-weight: 900;
  color: #d05311;
}

/*botão inicio*/
.scroll-top-btn {
    background: #163a5a;
    position: fixed;
    bottom: 20px;
    right: -80px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px rgba(0, 89, 179, 0.6);
    cursor: pointer;
    transition: right 0.8s ease, transform 0.3s ease;
    z-index: 999;
}

.scroll-top-btn img {
	display: flex;
    width: 25px;
    height: 25px;
}

.scroll-top-btn.show {
    right: 20px;
}

.scroll-top-btn:hover {
    transform: scale(1.1);
}

/*footer*/
footer {
    background: #1f4e79;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}